{{ form_start(formC) }}
{#    {{ form_row(formC.name) }}#}
    <input type="hidden" value="{{ post.id }}" name="post_id">
    <button class="btn btn-info" formaction="{{ path('comment_new') }}">{{ button_label|default('Save') }}</button>
{{ form_end(formC) }}





