{# {{ form_start(form) }} #}
{#    {{ form_widget(form) }} #}
{#    <button class="btn-info" formaction="{{ path('post_update', {'id': post.id}) }}">{{ button_label|default('Save') }}</button> #}
{# {{ form_end(form) }} #}

<form action="{{ path('post_update', {'id': post.id}) }}" method="post">
    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example">
    <button type="button" class="btn btn-info">Info</button>
</form>
