{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Email: {{ app.user.email }}</p>
    {% endif %}


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="card-body" style="border: 1px solid grey; padding: 30px; margin-bottom: 2%">
        <h1>Create post form:</h1>
{#        {{ include('post/_form.html.twig') }}#}
        <form action="{{ path('post_new') }}" method="post">
            <input class="form-control mb-2" type="text" placeholder="title" name="title">
            <input class="form-control mb-2" type="text" placeholder="body" name="body">
            <button type="submit" class="btn btn-info mb-2">Save</button>
        </form>
    </div>

    <h1>Post index</h1>
    <form action="{{ path('post_index') }}" method="GET">
        <select name="sort">
            <option value="desc">newest</option>
            <option value="asc" >oldest</option>
{#            <option value="max" @if ($options['sort'] === 'max') selected @endif>like(max)</option>#}
{#            <option value="min" @if ($options['sort'] === 'min') selected @endif>like(min)</option>#}
        </select>
        <p><input type="submit" value="Sort"></p>
    </form>
    {% for post in pagination.items %}
        <div class="card mb-2" style="width: 100%;">
            <div class="card-body m-3">
                <a href="{{ path('post_show', {'id': post.id}) }}" class="card-link"><h5 class="card-title">Title: {{ post.title }}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">Author: <a href="{{ path('post_index')}}?author={{ post.userId.id }}"> {{ post.userId.name }}</h6></a>
                <h6 class="card-subtitle mb-2 text-muted">Date: {{ post.createdAt|date("H:i  j F") }}</h6>
                <p class="card-text">{{ post.body }}</p>
                <a href="{{ path('post_edit', {'id': post.id}) }}" class="card-link">Edit</a>
                {{ include('post/_delete_form.html.twig') }}
            </div>

            <div class="card-body" style="border: 1px solid grey">
                {% for comment in post.getComments() %}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ comment.id }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapse{{ comment.id }}" aria-expanded="false"
                                        aria-controls="flush-collapse{{ comment.id }}">
                                    Comment: </br> Date: </br> Author: {{ comment.getUser.name }}
                                </button>
                            </h2>
                            <div id="flush-collapse{{ comment.id }}" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>{{ comment.body }}</p>
                                    {% include 'comment/_delete_comment_form.html.twig' %}
                                    <a href="{{ path('comment_edit', {'id': comment.id}) }}" class="card-link">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <div class="card-body" style="border: 1px solid grey; padding: 30px; margin-bottom: 2%">
                    <h5>Write comment:</h5>
                     <form class="form-floating mb-2" action="{{ path('comment_new') }}" method="post">
                     <input type="hidden" value="{{ post.id }}" name="post_id">
                      <input type="text" class="form-control" id="floatingInputValue" name="body" placeholder="Add comment">
                     <button class="btn btn-info mt-2" type="submit">Add comment</button>
                      </form>

                </div>
            </div>
        </div>
    {% else %}
        <div class="card mb-2" style="width: 68rem;">
            <h1>No records</h1>
        </div>
    {% endfor %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
